<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="../node_modules/swiper/swiper-bundle.min.css"> -->
  <link rel="stylesheet" href="../style/reset.css">
  <link rel="stylesheet" href="../style/index.css">
</head>

<body>
  <div id="top">
    <div class="top content">
      <ul>
        <li>考拉欢迎你！</li>
        <li><a href="#"> 登录</a></li>
        <li><a href="#"> 免费注册</a></li>
        <li><a href="#"> 手机考拉</a>
          <div class="jiujiu"></div>
          <div class="ewm">
            <img src="../image/ewm.png" alt="">
            <p>新用户下载APP <br>领10元无门槛券</p>
          </div>
        </li>
      </ul>
      <ol>
        <li><a href="#"> 每日签到</a></li>
        <li><a href="#"> 我的订单</a></li>
        <li>个人中心<span></span>
          <ul>
            <li>我的优惠券</li>
            <li>我的红包</li>
            <li class="borderb">我的考拉豆</li>
            <li>账号管理</li>
            <li>我的实名认证</li>
            <li class="borderb">我的发票抬头</li>
            <li>我收藏的商品</li>
            <li class="borderb">我关注的品牌</li>
            <li>售后管理</li>
          </ul>
        </li>
        <li>客户服务<span></span>
          <ul>
            <li>联系客服</li>
            <li>帮助中心</li>
            <li>知识产权保护</li>
            <li>规则中心</li>
          </ul>
        </li>
        <li>充值中心<span></span>
          <ul>
            <li>话费充值</li>
            <li>游戏充值</li>
            <li>AppStore充值卡</li>
          </ul>
        </li>
        <li>消费者权益<span></span>
          <ul>
            <li>消费者告知书</li>
          </ul>
        </li>
        <li>更多<span></span>
          <ul>
            <li class="borderb">收藏本站</li>
            <li>新浪微博</li>
            <li>微信公众号</li>
            <li>招商合作</li>
          </ul>
        </li>
        <li><a href="#"> 视频内容</a></li>
      </ol>
    </div>
  </div>
  <div id="header">
    <div class="header content">
      <a href="#">考拉海购</a>
      <form>
        <input type="text" name="" id="" placeholder="象印保温杯">
        <input type="submit" value=" ">
      </form>
      <span><a href="#"></a> 购物车</span>
    </div>
  </div>
  <div id="nav">
    <div class="nav content">
      <dl>
        <dt>所有分类</dt>
        <dd><a href="#">美容彩妆</a>
          <div>
            <div class="left">
              <div class="toplist clearfix">
                <div>
                  <h2>护肤</h2>
                  <div class="listcontent">
                    <span>洁面</span>
                    <span class="red">卸妆</span>
                    <span>爽肤水</span>
                    <span class="red">面霜</span>
                    <span>眼部护理</span>
                    <span>精华</span>
                    <span class="red">乳液</span>
                    <span class="red">局部</span>
                    <span>护肤套装</span>
                    <span>精油</span>
                  </div>
                </div>
                <div>
                  <h2>面膜</h2>
                  <span></span>
                </div>
              </div>
              <div class="middlelist clearfix">
                <div>
                  <h2>彩妆</h2>
                  <span></span>
                </div>
                <div>
                  <h2>防晒修复</h2>
                  <span></span>
                </div>
              </div>
              <div class="bottomlist">
                <h2>香水/香氛</h2>
                <span></span>
              </div>
            </div>
            <div class="right">
              <img src="../image/nav.jpg" alt="">
              <img src="../image/nav.jpg" alt="">
              <img src="../image/nav.jpg" alt="">
              <img src="../image/nav.jpg" alt="">
              <img src="../image/nav.jpg" alt="">
              <img src="../image/nav.jpg" alt="">
              <img src="../image/nav1.jpg" alt="">
            </div>
          </div>
        </dd>
        <dd><a href="#">母婴儿童</a></dd>
        <dd><a href="#">营养保健</a></dd>
        <dd><a href="#">数码家电</a></dd>
        <dd><a href="#">个护家清</a></dd>
        <dd><a href="#">服饰鞋靴</a></dd>
        <dd><a href="#">运动户外</a></dd>
        <dd><a href="#">手表配饰</a></dd>
        <dd><a href="#">轻奢</a></dd>
        <dd><a href="#">家居生活</a></dd>
        <dd><a href="#">环球美食</a></dd>
        <dd><a href="#">宠物生活</a></dd>
      </dl>
      <ul>
        <li><a href="#">首页</a></li>
        <li><a href="#">海外直购</a></li>
        <li><a href="#">工厂店</a></li>
        <li><a href="#">品质奶粉</a></li>
        <li><a href="#">人气面膜</a></li>
        <li><a href="#">充值</a></li>
      </ul>
    </div>
  </div>
  <div id="banner">
    <div class="banner content">
      <img src="../image/banner.jpg" alt="">

    </div>
    <div class="bo">
      <ul class="content">
        <li>考拉自营</li>
        <li>全球直采</li>
        <li>假一赔十</li>
        <li>售后无忧</li>
        <span>新用户下载APP,领10元无门槛券</span>
      </ul>
    </div>

  </div>
  <div id="main">
    <div class="main content">
      <div class="section">
        <div class="title clearfix">
          <h2>运动户外</h2>
          <span>热搜词：</span>
          <a href="#">阿迪达斯</a>
          <a href="#">耐克</a>
          <a href="#">斯凯奇</a>
          <a href="#">安德玛</a>
          <i>更多好货></i>
        </div>
        <div class="comm">
          <div class="leftcom">
            <div>
              <span>男运动鞋</span>
              <span>女运动鞋</span>
              <span>运动服饰</span>
              <span>速干T恤</span>
              <span>健身服饰</span>
              <span>户外背包</span>
            </div>
          </div>
          <div class="middlecom clearfix">
            <span>
              <h3>斯凯奇新品上市</h3>
              <i>热门鞋款低至5.7折</i>
              <img src="../image/comm1.jpg" alt="">
            </span>
            <span>
              <h3>斯凯奇新品上市</h3>
              <i>热门鞋款低至5.7折</i>
              <img src="../image/comm1.jpg" alt="">
            </span>
            <span>
              <h3>斯凯奇新品上市</h3>
              <i>热门鞋款低至5.7折</i>
              <img src="../image/comm1.jpg" alt="">
            </span>
            <span>
              <h3>斯凯奇新品上市</h3>
              <i>热门鞋款低至5.7折</i>
              <img src="../image/comm1.jpg" alt="">
            </span>
          </div>
          <div class="rightcom"></div>
        </div>
        <div class="brand clearfix">
          <h2>热卖品牌</h2>
          <span><img src="../image/brand.jpg" alt=""></span>
          <span><img src="../image/brand.jpg" alt=""></span>
          <span><img src="../image/brand.jpg" alt=""></span>
          <span><img src="../image/brand.jpg" alt=""></span>
          <span><img src="../image/brand.jpg" alt=""></span>
        </div>
      </div>
    </div>
  </div>
  <ul class="rightnav">
    <li><a href="#">签到</a></li>
    <li><a href="#">购物车</a></li>
    <li><a href="#">APP</a></li>
    <li><a href="#">TOP</a></li>
  </ul>
  <div class="leftnav">
    <div></div>
    <h3>热门品牌</h3>
    <ul>
      <li><a href="#">运动户外</a></li>
      <li><a href="#">美妆专区</a></li>
      <li><a href="#">个人家清</a></li>
      <li><a href="#">奢品馆</a></li>
      <li><a href="#">手表配饰</a></li>
      <li><a href="#">美食生鲜</a></li>
      <li><a href="#">服饰鞋靴</a></li>
      <li><a href="#">家居生活</a></li>
      <li><a href="#">数码家电</a></li>
      <li><a href="#">母婴专区</a></li>
      <li><a href="#">营养保健</a></li>
    </ul>
  </div>
  <div class="gray"></div>
  <div id="bottom">
    <div class="bottom content">
      <ul>
        <li>
          <span>正</span>
          <p>正品承诺</p>
          <strong>正品保障 假一赔十</strong>
        </li>
        <li>
          <span>低</span>
          <p>低价保障</p>
          <strong>缩减中间环节 确保低价</strong>
        </li>
        <li>
          <span>退</span>
          <p>30天无忧退货</p>
          <strong>国内退货 售后无忧</strong>
        </li>
        <li>
          <span>邮</span>
          <p>满88包邮</p>
          <strong>部分特殊商品除外</strong>
        </li>
      </ul>
      <div class="clearfix">
        <a href="#"></a>
        <dl>
          <dt>考拉保障</dt>
          <dd>假一赔十</dd>
          <dd>廉正举报</dd>
        </dl>
        <dl>
          <dt>新手指南</dt>
          <dd>购物流程</dd>
          <dd>支付方式</dd>
          <dd>通关税费</dd>
          <dd>常见问题</dd>
        </dl>
        <dl>
          <dt>售后服务</dt>
          <dd>售后政策</dd>
          <dd>退货流程</dd>
          <dd>特色服务</dd>
          <dd>联系客服</dd>
        </dl>
        <dl>
          <dt>物流配送</dt>
          <dd>配送方式</dd>
          <dd>配送服务</dd>
          <dd>运费标准</dd>
          <dd>物流跟踪</dd>
        </dl>
        <dl>
          <dt>商家服务</dt>
          <dd>招商合作</dd>
          <dd>销售联盟</dd>
          <dd>商家成长</dd>
        </dl>
        <dl>
          <dt>关于我们</dt>
          <dd>联系我们</dd>
          <dd>CEO邮箱</dd>
          <dd>线下店</dd>
        </dl>
        <img src="#" alt="">
      </div>
    </div>
  </div>
  <div id="copyright">
    <p> 增值电信业务经营许可证：浙B2-20160288 （浙）网械平台备字[2018]第00007号 阿里巴巴版权所有©2003-2021隐私政策 - 考拉海购<br>
      网络文化经营许可证：浙网文（2020）4340-180号 浙江省网络食品销售第三方平台提供者备案：浙网食A33010006 网络第三方平台规范进口冷链食品承诺函<br>
      浙公网安备 33010802002216号 互联网药品信息服务资格证书编号（浙）-2017-0027 浙ICP备16011229号-6 自营经营者信息</p>
  </div>
  <!-- <script src="../node_modules/swiper/swiper-bundle.min.js"></script> -->
  <script>
  </script>
</body>

</html>