<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录-考拉海购</title>
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/login.css">
</head>

<body>
    <div id="header">
        <div class="header">
            <a href="https://www.kaola.com/"></a>
            <img src="../image/login-top.png" alt="">
        </div>
    </div>
    <div id="container">
        <div class="container">
            <img src="../image/login-img.png" alt="">
            <div class="login">
                <div class="ewm">
                    <span class="span-ewm"></span>
                    <h2>手机扫码，安全登录</h2>
                    <i>请确保考拉海购版本号在v4.31及以上哦~</i>
                    <div></div>
                    <strong>
                        <p>打开考拉海购APP</p>
                        <p>扫一扫登录</p>
                    </strong>
                </div>
                <div class="phone">
                    <span class="span-phone"></span>
                    <h2>手机号登录</h2>
                    <form action='./index.html'>
                        <a href="#">使用密码验证登录</a>
                        <input type="text" name="login-id" id="login-id" placeholder="请输入手机号">
                        <input type="text" name="login-code" id="login-code" placeholder="请输入验证码">
                        <button type="submit">登录</button>
                        <p>注册/登录代表同意 隐私政策 和 服务条款</p>
                    </form>
                </div>
                <ul class="clearfix">
                    <li class="taobao"><a href="##"></a></li>
                    <li class="zhifubao"><a href="##"></a></li>
                    <li class="weixin"><a href="##"></a></li>
                    <li class="weibo"><a href="##"></a></li>
                    <li class="youxiang"><a href="##"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="copyright">
        <p>增值电信业务经营许可证：浙B2-20160288 （浙）网械平台备字[2018]第00007号 阿里巴巴版权所有©2003-2021隐私政策 - 考拉海购</p>
        <p>网络文化经营许可证：浙网文（2020）4340-180号 浙江省网络食品销售第三方平台提供者备案：浙网食A33010006 网络第三方平台规范进口冷链食品承诺函</p>
        <p>浙公网安备 33010802002216号 互联网药品信息服务资格证书编号（浙）-2017-0027 浙ICP备16011229号-6 自营经营者信息</p>
        <div>
            <img src="../image/login-copy1.png" alt="">
            <img src="../image/login-copy2.png" alt="">
        </div>
    </div>
    <script src="../script/jquery.js"></script>
    <script src="../script/utils.js"></script>
    <script src="../script/login.js"></script>
</body>

</html>