<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>购物车</title>
  <!-- <link rel="stylesheet" href="../node_modules/swiper/swiper-bundle.min.css"> -->
  <link rel="stylesheet" href="../style/reset.css">
  <link rel="stylesheet" href="../style/shoppingcart.css">
</head>

<body>
  <div id="top">
    <div class="top content">
      <ul>
        <li>考拉欢迎你！</li>
        <li class="login"><a href="./login.html"> 登录</a></li>
        <li class="login"><a href="./login.html"> 免费注册</a></li>
        <li class="user"></li>
        <li class="exit">退出</li>
        <li><a href="#"> 手机考拉</a>
          <div class="jiujiu"></div>
          <div class="ewm">
            <img src="../image/ewm.png" alt="">
            <p>新用户下载APP <br>领10元无门槛券</p>
          </div>
        </li>
      </ul>
      <ol>
        <li><a href="#"> 每日签到</a></li>
        <li><a href="#"> 我的订单</a></li>
        <li>个人中心<span></span>
          <ul>
            <li>我的优惠券</li>
            <li>我的红包</li>
            <li class="borderb">我的考拉豆</li>
            <li>账号管理</li>
            <li>我的实名认证</li>
            <li class="borderb">我的发票抬头</li>
            <li>我收藏的商品</li>
            <li class="borderb">我关注的品牌</li>
            <li>售后管理</li>
          </ul>
        </li>
        <li>客户服务<span></span>
          <ul>
            <li>联系客服</li>
            <li>帮助中心</li>
            <li>知识产权保护</li>
            <li>规则中心</li>
          </ul>
        </li>
        <li>充值中心<span></span>
          <ul>
            <li>话费充值</li>
            <li>游戏充值</li>
            <li>AppStore充值卡</li>
          </ul>
        </li>
        <li>消费者权益<span></span>
          <ul>
            <li>消费者告知书</li>
          </ul>
        </li>
        <li>更多<span></span>
          <ul>
            <li class="borderb">收藏本站</li>
            <li>新浪微博</li>
            <li>微信公众号</li>
            <li>招商合作</li>
          </ul>
        </li>
        <li><a href="#"> 视频内容</a></li>
      </ol>
    </div>
  </div>
  <div id="shopping_head">

  </div>
  <!-- <div id="cart_body">
    <div class="cart_none">
      <p>购物车里空空如也，赶紧去&nbsp;<a href="index.html">逛逛吧＞</a></p>
      <p>或者您可以先进行&nbsp;<a href="#">登录＞</a></p>
    </div>
  </div> -->
  <div class="head">
    <span><input type="checkbox">全选</span>
    <span>商品</span>
    <span>单价</span>
    <span>数量</span>
    <span>操作</span>
  </div>
  <ul class="list">
    <!-- <li>
      <input type="checkbox">
      <img src="https://img11.360buyimg.com/n7/jfs/t1/170810/11/3359/266408/600677efE384c620f/098693b4710d823d.jpg" alt="">
      <h3>Satchi沙驰女鞋新款格子布尖头拼接单鞋 细跟高跟鞋女E237729A 蓝/黑E237730A 36</h3>
      <p>168.88</p>
      <span>2</span>
      <em>删除</em>
    </li>
    <li>
      <input type="checkbox">
      <img src="https://img11.360buyimg.com/n7/jfs/t1/170810/11/3359/266408/600677efE384c620f/098693b4710d823d.jpg" alt="">
      <h3>Satchi沙驰女鞋新款格子布尖头拼接单鞋 细跟高跟鞋女E237729A 蓝/黑E237730A 36</h3>
      <p>168.88</p>
      <span>2</span>
      <em>删除</em>
    </li> -->
  </ul>
  <div id="new_title">
    猜你喜欢
    <span>根据你游览记录推荐的商品</span>
  </div>
  <div id="new_list">
    <div class="goods clearfix">
      <div class="good">

      </div>
      <div class="good">

      </div>
      <div class="good">

      </div>
      <div class="good">

      </div>
      <div class="good">

      </div>
    </div>
  </div>
  <div id="bottom">
    <div class="bottom content">
      <ul>
        <li>
          <span>正</span>
          <p>正品承诺</p>
          <strong>正品保障 假一赔十</strong>
        </li>
        <li>
          <span>低</span>
          <p>低价保障</p>
          <strong>缩减中间环节 确保低价</strong>
        </li>
        <li>
          <span>退</span>
          <p>30天无忧退货</p>
          <strong>国内退货 售后无忧</strong>
        </li>
        <li>
          <span>邮</span>
          <p>满88包邮</p>
          <strong>部分特殊商品除外</strong>
        </li>
      </ul>
      <div class="clearfix">
        <a href="#"></a>
        <dl>
          <dt>考拉保障</dt>
          <dd>假一赔十</dd>
          <dd>廉正举报</dd>
        </dl>
        <dl>
          <dt>新手指南</dt>
          <dd>购物流程</dd>
          <dd>支付方式</dd>
          <dd>通关税费</dd>
          <dd>常见问题</dd>
        </dl>
        <dl>
          <dt>售后服务</dt>
          <dd>售后政策</dd>
          <dd>退货流程</dd>
          <dd>特色服务</dd>
          <dd>联系客服</dd>
        </dl>
        <dl>
          <dt>物流配送</dt>
          <dd>配送方式</dd>
          <dd>配送服务</dd>
          <dd>运费标准</dd>
          <dd>物流跟踪</dd>
        </dl>
        <dl>
          <dt>商家服务</dt>
          <dd>招商合作</dd>
          <dd>销售联盟</dd>
          <dd>商家成长</dd>
        </dl>
        <dl>
          <dt>关于我们</dt>
          <dd>联系我们</dd>
          <dd>CEO邮箱</dd>
          <dd>线下店</dd>
        </dl>
        <img src="#" alt="">
      </div>
    </div>
  </div>
  <div id="copyright">
    <p> 增值电信业务经营许可证：浙B2-20160288 （浙）网械平台备字[2018]第00007号 阿里巴巴版权所有©2003-2021隐私政策 - 考拉海购<br>
      网络文化经营许可证：浙网文（2020）4340-180号 浙江省网络食品销售第三方平台提供者备案：浙网食A33010006 网络第三方平台规范进口冷链食品承诺函<br>
      浙公网安备 33010802002216号 互联网药品信息服务资格证书编号（浙）-2017-0027 浙ICP备16011229号-6 自营经营者信息</p>
  </div>

  <script>
    var goodsArr = JSON.parse( localStorage.getItem('goods') );
    function dataJson(data) {
      console.log(data);
      console.log(goodsArr);
      // // console.log(data.data.length);
      var len = data.data.length;
      var domStr = '';
      for(var i = 0; i < len; i++) {
        for (var j = 0; j < goodsArr.length; j++) {
          if (data.data[i].id === goodsArr[j].id) {
                domStr += `
                <li>
                  <input type="checkbox">
                  <img src="${data.data[i].imgurl}" alt="">
                  <h3>${data.data[i].title}</h3>
                  <p>${data.data[i].price}</p>
                  <span>${goodsArr[j].num}</span>
                  <em data-id="${data.data[i].id}">删除</em>
                </li>
                `;
              }
        }
          };
        $('.list').html(domStr);
  }
</script>
  <script src="../script/jquery-1.8.3.js"></script>
  <script type="text/javascript" src="../data/goods.json?cb=dataJson"></script>
  <script src="../script/shoppingcart.js"></script>
</body>

</html>